.LoadingAni {
  padding: 50px;
  text-align: center;
}

.LoadingAni > div {
  margin: 0 auto;
}

.LoadingAni.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.6);
}

.LoadingAni.cover > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}