.PageHead {
  position: relative;
  padding-bottom: 2rem;
}

.PageHead .page-header {
  margin: 0;
}

.PageHead h1 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .PageHead .AddNewButton {
    position: absolute;
    right: 0px;
    top: 2px;
  }
}